<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.hibernate.type" level="ERROR"/>
	<logger name="org.hibernate" level="ERROR"/>
	<logger name="org.hibernate.sql" level="ERROR"/>
	<!--<logger name="org.hibernate.type" level="DEBUG"/>-->
	<!--<logger name="org.hibernate" level="DEBUG"/>-->

	<logger name="org.thymeleaf" level="ERROR"/>

	<logger name="org.springframework" level="ERROR"/>
	<logger name="org.springframework.boot.actuate.endpoint.mvc" level="INFO"/>
	<logger name="org.springframework.web.servlet.mvc.method.annotation" level="INFO"/>

	<logger name="org.apache" level="ERROR"/>

	<logger name="de.mosaic4cap.webapp" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>

		<!-- TODO: Stop hibernate output (#9)-->