<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="" th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet"/>

	<title></title>
</head>

<body>
<!--
TODO: use form-group to rearrange input types more properly
TODO: use xs columns instead of lg to make it more responsive
-->

<div class="modal fade" id="adressModal" tabindex="-1" role="dialog" aria-labelledby="adressLabel" aria-hidden="true"
	 th:fragment="adress">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="adressLabel">Anschrift &auml;ndern</h4>
			</div>

			<div class="modal-body" id="adressBody" align="center">
				<div class="input-group">
					<div class="row">
						<div class="col-lg-7">
							<input type="text" class="form-control" placeholder="Stra&szlig;e"/>
						</div>
						<div class="col-lg-5">
							<input type="text" class="form-control" placeholder="Hausnummer"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5">
							<input type="text" class="form-control" placeholder="PLZ"/>
						</div>
						<div class="col-lg-7">
							<input type="text" class="form-control" placeholder="Ort"/>
						</div>
					</div>
				</div>
				<br/><br/>

				<input type="text" name="adressId" id="adressId" value=""/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default">&Auml;ndern</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="bankDataModal" tabindex="-1" role="dialog" aria-labelledby="bankDataLabel"
	 aria-hidden="true" th:fragment="bankdata">

	<style>
		.bankdata-input-group-addon {
			min-width: 100px;
			text-align: left;
		}
	</style>

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="bankDataLabel">Bankdaten &auml;ndern</h4>
			</div>
			<div class="modal-body" id="bankDataBody">
				<div class="input-group">
					<span class="input-group-addon bankdata-input-group-addon">Inhaber:</span>
					<input type="text" class="form-control" placeholder="Inhaber"/>
				</div>
				<div class="input-group">
					<span class="input-group-addon bankdata-input-group-addon">IBAN:</span>
					<input type="text" class="form-control" placeholder="IBAN"/>
				</div>
				<div class="input-group">
					<span class="input-group-addon bankdata-input-group-addon">BIC:</span>
					<input type="text" class="form-control" placeholder="BIC"/>
				</div>
				<br/><br/>

				<input type="text" name="bankDataId" id="bankDataId" value=""/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default">&Auml;ndern</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</body>
</html>