<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="" th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet"/>

	<link href="../../../css/bootstrap.theme.css" rel="stylesheet"/>
	<link href="../../../css/sidebar.css" rel="stylesheet"/>

	<script src="" th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
	<script src="" th:src="@{/webjars/jquery-ui/1.10.4/ui/jquery-ui.js}"></script>
	<script src="" th:src="@{/webjars/angularjs/1.3.0-rc.2/angular.min.js}"></script>
	<script src="" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script src="" th:src="@{/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js}"></script>

	<title></title>
</head>
<body>
<div th:replace="fragments/header :: navigation"></div>

<div id="wrapper">
	<div th:replace="fragments/sidebar :: navigation"></div>

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">Mitarbeiter
							<div style="float: right"><i class="fa fa-plus"></i></div>
							<!-- TODO: + opens modal to enter new employee -->
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">Max Mustermann<!-- TODO: click on name opens details -->
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
									<!-- TODO: - deletes employee, opens modal to confirm deletion -->
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
								<li class="list-group-item">Max Mustermann
									<div style="float:right"><a href="#"><i class="fa fa-minus"></i></a></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9"> <!-- TODO: This panel is closed by default, will open on name click, s.t -->
					<div class="panel panel-default">
						<div class="panel-heading">Details - <strong>Max Mustermann</strong></div>
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="panel panel-default">
											<div class="panel-heading">Anschrift</div>
											<div class="panel-body">
												<form role="adress">
													<div class="form-group">
														<label for="adressStreetInput">Stra&szlig;e</label>
														<input type="text" class="form-control" id="adressStreetInput"
															   placeholder="Stra&szlig;e"/>
													</div>
													<div class="form-group">
														<label for="adressPlzInput">PLZ</label>
														<input type="text" class="form-control" id="adressPlzInput"
															   placeholder="Postleitzahl"/>
													</div>
													<div class="form-group">
														<label for="adressCityInput">Ort</label>
														<input type="text" class="form-control" id="adressCityInput"
															   placeholder="Stadt"/>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="panel panel-default">
											<div class="panel-heading">Bankdaten</div>
											<div class="panel-body">
												<form role="bank">
													<div class="form-group">
														<label for="bankOwnerInput">Inhaber</label>
														<input type="text" class="form-control" id="bankOwnerInput"
															   placeholder="Inhaber"/>
													</div>
													<div class="form-group">
														<label for="bankIbanInput">IBAN</label>
														<input type="text" class="form-control" id="bankIbanInput"
															   placeholder="IBAN"/>
													</div>
													<div class="form-group">
														<label for="bankBicInput">BIC</label>
														<input type="text" class="form-control" id="bankBicInput"
															   placeholder="BIC"/>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="panel panel-default">
											<div class="panel-heading">Kontaktdaten</div>
											<div class="panel-body">
												<form role="contact">
													<div class="form-group">
														<label for="contactHandy">Handynummer</label>
														<input type="text" class="form-control" id="contactHandy"
															   placeholder="Handynummer"/>
													</div>
													<div class="form-group">
														<label for="contactPhone">Festnetznummer</label>
														<input type="text" class="form-control" id="contactPhone"
															   placeholder="Festnetznummer"/>
													</div>
													<div class="form-group">
														<label for="contactEmail">eMail Adresse</label>
														<input type="text" class="form-control" id="contactEmail"
															   placeholder="eMail Adresse"/>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div align="center"><span class="label label-info">Hinweis: Die Einstellungen werden automatisch gespeichert.</span>
									</div>
								</div>
								<br/>

								<div class="row">
									<pre>Mitarbeiter Daten JSON String</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
</body>
</html>