<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="" th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet"/>

	<link href="../../../css/bootstrap.theme.css" rel="stylesheet"/>
	<link href="../../../css/sidebar.css" rel="stylesheet"/>
	<link href="../../../css/invoice.css" rel="stylesheet"/>

	<script src="" th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
	<script src="" th:src="@{/webjars/jquery-ui/1.10.4/ui/jquery-ui.js}"></script>
	<script src="" th:src="@{/webjars/angularjs/1.3.0-rc.2/angular.min.js}"></script>
	<script src="" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
	<script src="" th:src="@{/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js}"></script>


	<script src="../../../js/mosaic4cap.js"></script>
	<script src="../../../js/services/crudService.js"></script>
	<script src="../../../js/controller/invoiceController.js"></script>

	<title></title>
</head>
<body ng-app="mosaic4cap">

<div th:replace="fragments/header :: navigation"></div>

<div id="wrapper">

	<div th:replace="fragments/sidebar :: navigation-chefui"></div>

	<!-- Page Content -->
	<div id="page-content-wrapper" >
		<div class="container-fluid" th:attr="data-invoices=${allInvoicesJSON}" ng-controller="invoiceController" id="invoices">
			<div class="row">
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<div class="row">
						<div class="panel panel-default">

							<div class="panel-heading">
								<strong>Abrechnungen: <span th:text="${#lists.size(allInvoices)}"></span> insgesamt {{invoices.count}}
									<!--<span class="label label-danger" th:text="${#lists.size(allInvoices)}">0 Offen</span> <span
										class="label label-success">10 Abgeschlossen</span>--></strong>

								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default">
										<i class="fa fa-sort-amount-asc"></i>
									</button>
									<button type="button" class="btn btn-default">
										<i class="fa fa-sort-amount-desc"></i>
									</button>
								</div>

							</div>
							<div class="panel-body">
								<div class="list-group" th:unless="${#lists.isEmpty(allInvoices)}">
									<a href="#" class="list-group-item" th:each="invoice : ${allInvoices}">
										<h4 class="list-group-item-heading">Abrechnung: <i th:text="${{invoice.date}}">dd.MM.yyyy</i>
											<span class="label" th:classappend="${invoice.state.state.label}"
												  th:text="${invoice.state.txt}">Offen</span>
										</h4>

										<p class="list-group-item-text">
										<ul class="list-inline invoice-footer">
										<li>Umsatz: <b> <span th:text="${invoice.amount}">0,00</span>&euro;</b></li>
										<li><b th:text="${invoice.partialsCount}">0</b> Teilabrechnungen</li>
										<li><b th:text="${invoice.ecCount}">0</b> EC Zahlungen</li>
										<li><b th:text="${invoice.billCount}">0</b> Rechnungen</li>
										</ul>
										</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-1 col-lg-1"></div>
				<div class="col-md-6 col-lg-6">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<ul class="pager">
											<li class="previous"><a href="#">&larr; Vorherige</a></li>
										</ul>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
										 style="text-align: center; padding-top: 15px;">
										<h4>Abrechnung x/y, dd.MM.yyyy</h4>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<ul class="pager">
											<li class="next"><a href="#">N&auml;chste &rarr;</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="container-fluid well">

									<div class="table-responsive">
										<form class="form" role="form">
											<table class="table table-hover">
												<thead>
												<tr>
													<th>Position</th>
													<th>Gemeldet</th>
													<th>Tats&auml;chlich</th>
												</tr>
												</thead>
												<tbody>
												<tr>
													<td>Fahrer</td>
													<td><p class="form-controll-static">\$fahrer</p></td>
													<td><input type="text" class="form-control" placeholder="\$fahrer"/>
													</td>
												</tr>
												<tr>
													<td>Auto</td>
													<td><p class="form-controll-static">\$auto</p></td>
													<td>
														<select class="form-control">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>Einnahme</td>
													<td><p class="form-controll-static">\$fahrer</p></td>
													<td><input type="text" class="form-control" placeholder="\$fahrer"/>
													</td>
												</tr>
												<tr>
													<td>Ausgabe</td>
													<td>
														<p class="form-controll-static">
														<ul class="list-unstyled">
															<li>Pos 1</li>
															<li>Pos 2</li>
															<li>Pos 3</li>
															<li>Pos 4</li>
															<li>Pos 5</li>
															<li>POS1-POS5</li>
														</ul>
														</p>
													</td>
													<td>
														<p class="form-controll-static">
														<ul class="list-unstyled">
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
														</ul>
														</p>
													</td>
												</tr>
												<tr>
													<td>EC Karte</td>
													<td>
														<p class="form-controll-static">
														<ul class="list-unstyled">
															<li>Pos 1</li>
															<li>Pos 2</li>
															<li>Pos 3</li>
															<li>Pos 4</li>
															<li>Pos 5</li>
															<li>POS1-POS5</li>
														</ul>
														</p>
													</td>
													<td>
														<p class="form-controll-static">
														<ul class="list-unstyled">
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
															<li><input type="text" class="form-control"
																	   placeholder="\pos1"/></li>
														</ul>
														</p>
													</td>
												</tr>
												<tr>
													<td>Gesamt</td>
													<td><p class="form-controll-static">\$gesamt</p></td>
													<td><input type="text" class="form-control" placeholder="Gesamt"/>
													</td>
												</tr>
												<tr>
													<td colspan="3" style="text-align: center">
														<button type="button" class="btn btn-default btn-lg">Drucken
														</button>
													</td>
												</tr>
												</tbody>
											</table>
										</form>
									</div>
									<!-- /. table-form-invoice -->

								</div>
								<!-- /. container-flud well -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="well">
				{{invoices | json}}
			</div>
		</div>

	</div>
	<!-- /#page-content-wrapper -->

</div>
</body>
</html>