<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="" th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../../../css/bootstrap.theme.css" rel="stylesheet"/>
    <link href="../../../css/sidebar.css" rel="stylesheet"/>

    <script src="" th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
    <script src="" th:src="@{/webjars/jquery-ui/1.10.4/ui/jquery-ui.js}"></script>
    <script src="" th:src="@{/webjars/angularjs/1.3.0-rc.2/angular.min.js}"></script>
    <script src="" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    <script src="" th:src="@{/webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js}"></script>

    <script src="../../../js/modules/store.js"></script>
    <script src="../../../js/modules/configuration.js"></script>
    <script src="../../../js/services/crudService.js"></script>
    <script src="../../../js/controller/storeController.js"></script>

    <title></title>
</head>
<body ng-app="mosaic4cap-chefui-store">

<div th:replace="fragments/modals :: bankdata"></div>
<div th:replace="fragments/modals :: adress"></div>

<div th:replace="fragments/header :: navigation"></div>

<div id="wrapper">

    <div th:replace="fragments/sidebar :: navigation-chefui"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper" ng-controller="storeController">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" ng-repeat="store in stores track by $index">
                    <div class="panel panel-info">
                        <div class="panel-heading">Store: {{store.storeKey}}</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2"><i class="fa fa-building-o fa-5x"></i></div>
                                <div class="col-md-5">
                                    <ul class="list-unstyled">
                                        <li>Max Mustermann</li>
                                        <li>Musterstra&szlig;e 1</li>
                                        <li>12345 Musterstadt</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li>Mitarbeiter:
                                            <small><i>{{store.drivers.length}}</i></small>
                                        </li>
                                        <li>Autos:
                                            <small><i>{{store.cars.length}}</i></small>
                                        </li>
                                        <li>Umsatz:
                                            <small><i>0.00 &euro;</i></small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btn-xs" data-adress-id="testAdress"
                                            data-toggle="modal" data-target="#adressModal">Anschrift &auml;ndern
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-success btn-xs" ng-click="select_store(store.id)" ng-if="store.id == ">Ausw&auml;hlen</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btn-xs" data-bankdata-id="testBankData"
                                            data-toggle="modal" data-target="#bankDataModal">Bankdaten &auml;ndern
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${configuration.enviroment.ident} == 'development'">
            <div class="well">
                <pre>{{stores | json}}</pre>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>

<script src="../../../js/modal.js"></script>
</body>
</html>